{{ 'section-recipe.css' | asset_url | stylesheet_tag }}

<div class="page-width recipe-page">
  <h1 class="recipe-page__title">{{ 'recipes.title' | t }}</h1>

  <div class="recipe-tabs">
    <button class="recipe-tab recipe-tab--active">{{ 'recipes.filters.recipes' | t }}</button>
    <button class="recipe-tab">{{ 'recipes.filters.meal_prep' | t }}</button>
    <button class="recipe-tab">{{ 'recipes.filters.kitchen_tools' | t }}</button>
  </div>

  <div class="recipe-grid">
    {%- for block in section.blocks -%}
      <a href="{{ block.settings.url }}" class="recipe-card" {{ block.shopify_attributes }}>
        {%- if block.settings.image != blank -%}
          <div class="recipe-card__image-wrapper">
            {{ block.settings.image | image_url: width: 588 | image_tag:
              loading: 'lazy',
              class: 'recipe-card__image',
              height: 171,
              width: 588
            }}
          </div>
        {%- endif -%}
        <div class="recipe-card__content">
          <h3 class="recipe-card__title">{{ block.settings.title }}</h3>
        </div>
      </a>
    {%- endfor -%}
  </div>

  <div class="recipe-newsletter">
    <div class="recipe-newsletter__wrapper">
      <h2 class="recipe-newsletter__heading">{{ 'newsletter.recipe.heading' | t }}</h2>
      
      {%- form 'customer', id: 'RecipeNewsletterForm', class: 'recipe-newsletter__form' -%}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="recipe-newsletter__field-wrapper">
          <div class="recipe-newsletter__field">
            <input
              id="NewsletterForm--recipe"
              type="email"
              name="contact[email]"
              class="recipe-newsletter__field__input"
              value="{{ form.email }}"
              aria-required="true"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              placeholder="{{ 'newsletter.recipe.email' | t }}"
              required
            >
          </div>
          <button type="submit" class="recipe-newsletter__button" name="commit">
            <span>{{ 'newsletter.recipe.button' | t }}</span>
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.41713 14.0834L16.2505 14.0834L12.683 17.6508L14.2149 19.1826L18.8656 14.5319C19.2718 14.1256 19.5 13.5746 19.5 13C19.5 12.4255 19.2718 11.8745 18.8656 11.4682L14.2149 6.81745L12.683 8.34928L16.2505 11.9167L5.41713 11.9167L5.41713 14.0834Z" fill="currentColor"/>
            </svg>
          </button>
        </div>
        <p class="recipe-newsletter__privacy">{{ 'newsletter.recipe.privacy' | t }}</p>
      {%- endform -%}
    </div>
  </div>

  <div class="recipe-more">
    <div class="recipe-more__header">
      <h2 class="recipe-more__title">More great recipes</h2>
      <a href="#" class="recipe-more__link">
        View all Recipes
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.41713 14.0834L16.2505 14.0834L12.683 17.6508L14.2149 19.1826L18.8656 14.5319C19.2718 14.1256 19.5 13.5746 19.5 13C19.5 12.4255 19.2718 11.8745 18.8656 11.4682L14.2149 6.81745L12.683 8.34928L16.2505 11.9167L5.41713 11.9167L5.41713 14.0834Z" fill="currentColor"/>
        </svg>
      </a>
    </div>

    <div class="recipe-more__grid">
      {%- for i in (1..4) -%}
        {%- assign image_setting = 'more_image_' | append: i -%}
        {%- assign date_setting = 'more_date_' | append: i -%}
        {%- assign title_setting = 'more_title_' | append: i -%}
        
        <div class="recipe-more__item">
          {%- if section.settings[image_setting] != blank -%}
            {{ section.settings[image_setting] | image_url: width: 216 | image_tag:
              loading: 'lazy',
              class: 'recipe-more__image',
              height: 216,
              width: 216
            }}
          {%- endif -%}
          <div class="recipe-more__content">
            <p class="recipe-more__date">{{ section.settings[date_setting] }}</p>
            <h3 class="recipe-more__item-title">{{ section.settings[title_setting] }}</h3>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Recipe Page",
  "settings": [
    {
      "type": "image_picker",
      "id": "more_image_1",
      "label": "More Recipe Image 1"
    },
    {
      "type": "text",
      "id": "more_date_1",
      "label": "More Recipe Date 1",
      "default": "August 8, 2024"
    },
    {
      "type": "text",
      "id": "more_title_1",
      "label": "More Recipe Title 1",
      "default": "Sirloin & Sherry Shallot Sauce"
    },
    {
      "type": "image_picker",
      "id": "more_image_2",
      "label": "More Recipe Image 2"
    },
    {
      "type": "text",
      "id": "more_date_2",
      "label": "More Recipe Date 2",
      "default": "August 8, 2024"
    },
    {
      "type": "text",
      "id": "more_title_2",
      "label": "More Recipe Title 2",
      "default": "Shrimp & Honey Miso Broccoli Donburi"
    },
    {
      "type": "image_picker",
      "id": "more_image_3",
      "label": "More Recipe Image 3"
    },
    {
      "type": "text",
      "id": "more_date_3",
      "label": "More Recipe Date 3",
      "default": "August 8, 2024"
    },
    {
      "type": "text",
      "id": "more_title_3",
      "label": "More Recipe Title 3",
      "default": "Raspberry-Ricotta Cake"
    },
    {
      "type": "image_picker",
      "id": "more_image_4",
      "label": "More Recipe Image 4"
    },
    {
      "type": "text",
      "id": "more_date_4",
      "label": "More Recipe Date 4",
      "default": "August 8, 2024"
    },
    {
      "type": "text",
      "id": "more_title_4",
      "label": "More Recipe Title 4",
      "default": "One-Pot Chicken and Rice"
    }
  ],
  "blocks": [
    {
      "type": "recipe_card",
      "name": "Recipe Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Recipe Title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Recipe URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Recipe Page",
      "blocks": [
        {
          "type": "recipe_card"
        },
        {
          "type": "recipe_card"
        },
        {
          "type": "recipe_card"
        }
      ]
    }
  ]
}
{% endschema %}